/* pixelify-sans-regular - latin */
@font-face {
  font-display: auto;
  font-family: 'Pixelify Sans';
  src: url('../assets/fonts/PixelifySans-VariableFont_wght.ttf') format('truetype');
  font-style: normal;
  font-weight: 400 500 600 700; 
}

/* colors, defined in :root, they can be used anywhere in the CSS */
:root {
  --white: #FFFFFF;
}

/* Hacer solo el contenedor de los botones draggable */
.draggable-container {
  -webkit-app-region: drag; /* Permite arrastrar la ventana desde este contenedor */
  cursor: move; /* Cambia el cursor al mover */
  padding: 10px; /* Espaciado interno (ajusta según tu diseño) */
}

/* Excluir los botones del drag */
.draggable-container button {
  -webkit-app-region: no-drag; /* Evita que los botones sean draggables */
}

body {
  font-family: 'Pixelify Sans', sans-serif;
  font-weight: 400;
  max-width: 38rem;
  padding: 2rem;
}

h1 {
  font-family: 'Pixelify Sans', sans-serif;
  font-weight: 700;
  font-size: 3rem; 
  margin-bottom: 1rem; 
}
